html {
    scroll-behavior: smooth;
}

html, body {
    height: 100vw;
    width: 100vw;
    margin: 0;
    
}
body{
    font-family: 'Porsche Next', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.video-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container .bg-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 0;
}

.explore-btn {
  color: white; /* Sets text to white */
}

.explore-btn:hover {
  color: white; /* Keeps white on hover */
  text-decoration: none; /* Optional: removes underline */
}

.explore-btn{
    background-color: transparent;
    border: 2px solid #ffffffff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    background-color: #fff;
    color: #000;
}

.body-title {
    font-size: 3.5rem;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-15%, -50%);
    z-index: 2;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 2px 4px;
    border-radius: 2px;
}

.text-overlay {
    position: absolute;
    font-size: 1.1rem;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    max-width: 1200px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin: 40px 20px;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 300px; /* Grow, shrink, basis */
    max-width: 400px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .body-title {
        font-size: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    .text-overlay {
        font-size: 0.9rem;
        bottom: 2%;
        padding: 15px;
    }
    
    .text-overlay p {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media (max-width: 600px) {
    .text-overlay h1{font-size: 2rem; letter-spacing: 0.4rem;}
}

.Incard-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

.Incard-btn a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.Incard-btn a:hover {
    color: #d5001c; /* Porsche red-ish */
}


@media only screen and {min-width:1200px} {
.body-title {
    font-size: 4.5rem;
}